{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titles.html' with titulo="Eliminar - Compra" %}
{% endblock titulo %}

{% block contenido %}
    <div style="width: 7%; margin: 20px 0px 20px 88px; border: 2px solid white" class="fs-4 text-white bg-secondary rounded">
        <a style="text-decoration: none; color:white; padding: 10px;" href="{% url 'compra:compra_list' %}">Volver</a>
    </div>

    <p style="margin: 10px 90px;" class="fs-5 fst-italic">¿Confirma eliminar la compra de "{{ compra.cliente.apellido}}, {{ compra.cliente.nombre}}" por un/una "{{ compra.producto.nombre}}"?</p>

    <form style="margin: 0px 90px;" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
{% endblock contenido %}